*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-color: #212121;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: #f1c40f;
	color: white;
	letter-spacing: 2px;
	position: relative;
}

a::before {
	content: 'button';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #2ce771;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(270deg);
	transform-origin: top;
	transition: all 0.5s;
}

a:hover::before,
a:hover::after {
	transform: rotateX(0deg);
}

a::after {
	content: 'button';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(270deg);
	transform-origin: top;
	transition: all 0.5s;
	transition-delay: 0.25s;
}
