.RollDice {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
}

.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #333333;
    margin-top: 3em;
    grid-column: 1 / -1;
    justify-self: center;
    transition: all .2s;
}

.RollDice button:hover {
    background-color: rgb(34, 72, 107);
    cursor: pointer;
}